<!doctype html>
<html>
<head>
		<meta name="google-site-verification" content="zJepc6vImx49zVPi4ID-67OUzuetR1JQNKrHN26bU7E" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<!-- tY01T6z2-CO7TsfMMZfvk7vkMhY -->
		<title>图书管理系统</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	</head>
    
    <body id="{% block page_id %}{% endblock %}">
    		<div class="navbar">
    			<div class="navbar-inner">
    				<div class="container">
    					<a class="brand" href="http://127.0.0.1:5000">西窗烛</a>
    
    					<ul class="nav">
    						<li><a href="http://127.0.0.1:5000">首页</a></li>
    						<li><a href="http://127.0.0.1:5000">话题</a></li>
    					</ul>
    
    					<form class="navbar-search">
    						<input type="text" class="search-query" title="按下 Enter 键开始搜索" placeholder="作品 / 文学家">
    					</form>
    
    					<script type="text/javascript">
    						$('.navbar-search').submit(function(){
    							var query = $('.search-query').val();
    							var url = "http://www.google.com.hk/search?q=site:xichuangzhu.com/work " + query;
    							window.open(url, "_blank")
    							return false;
    						});
    					</script>
    					
    					<ul class="nav pull-right">
    						<li>
    							<a href="">
    								提醒
    								{% if informs_num != 0 %}
    								<span class="label label-important">{{ informs_num }}</span>
    								{% endif %}
    							</a>
    						</li>
    
    						<li class="dropdown">
    							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    								{{ session.user_name }} <b class="caret"></b>
    							</a>
    							<ul class="dropdown-menu">
    								<li><a href="">个人主页</a></li>
    								<li><a href="">退出</a></li>
    							</ul>
    						</li>
    					</ul>
    
    					<a href="{{ douban_login_url }}"><img id="douban-icon" title="用豆瓣帐号登陆" src="http://img3.douban.com/pics/douban-icons/login_with_douban_24.png" /></a>
    
    					<button id="btn-s2t" class="btn btn-small pull-right">简</button>
    
    				</div>
    			</div>
        </div>    

<div class=page>
  <h1>Flaskr</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</html>
