{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('create') }}" method=post class=add-entry>
      <dl>
        <table>
        <tr>
        <td>Name:</td>
        <td><input type=text size=30 name=name></td>
        </tr>
        <tr>
        <td>Author:</td>
        <td><input type=text size=30 name=author></td>
        </tr>
        <tr>
        <td>Price:</td>
        <td><input type=text size=30 name=price></td>
        </tr>
        <tr>
        <td>Url:</td>
        <td><input type=text size=30 name=url></td>
        </tr>
      </table>
        <input type=submit value=Add>
  </form>
  <div class=books>
  {% for book in books %}
  <div class=book>
      <div class=pic><img src={{book.url}} height=160 width=160>
    </div>
   <div class=moreinfo>
       <div class=name>{{ book.name }}</div>
      <div class=author>{{ book.author }}</div> 
      <div class=price>{{book.price}}</div>
      <div class=delbut>
      <form action="{{url_for('delete')}}" method=post>
      <input type=hidden name=id value={{book.id}}>
      <input type=submit value=Delete class=delBut>
  </form>
  </div>
    </div>
    </div>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
